.progress-bar {
    position: fixed;
    top: 0;
    height: 4px;
    width: 0%;
    background: hotpink;
}

body { font-family: 'Arial'; background: #ececec; }
ul { list-style-type: none; padding: 20px; }
li { padding: 20px; background: white; margin-bottom: 5px; }
